<div class="todos">

  <form>
    <input
      type="text"
      name="input"
      placeholder="Enter text..."
      class="todo-input"
      [(ngModel)]="inputText"/>
    <input type="submit" value="Add Todo" class="todo-submit"/>
  </form>

  <div class="todo">
    <p class="number">1</p>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <button class="todo-delete">Delete</button>
  </div>

  <div class="todo">
    <p class="number">2</p>
    <p class="text">Lorem ipsum dolor sit amet.</p>
    <button class="todo-delete">Delete</button>
  </div>

  <div class="todo">
    <p class="number">3</p>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicingexcepturi neque
      omnis .</p>
    <button class="todo-delete">Delete</button>
  </div>

</div>

